body {
  font-family: sans-serif;
}

#quote {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#quote p {
  line-height: 1.5;
  font-size: 18px;
  color: #555;
  text-align: center;
}

#quote button {
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  background: rgb(16, 191, 124);
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}